body 
{
    background-color: CadetBlue;
}

.grid 
{
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: CornSilk;
    padding: 10px 50px 50px 50px;
    border: 2px Dotted CurlyWood;
    
}

.grid h1
 {
    font-family: "sans-serif";
	font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
    background-color: LightSlateGray;
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
    
}

.grid h5
 {
    font-family: "sans-serif";
	font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
    background-color: red;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
    
}
.grid h6
 {
    font-family: "sans-serif";
	font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
    background-color: green;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
    
}
#score
 {
    color: #01BBFF;
    text-align: center;
    font-size: 30px;
}

#h5
{
    color: red;
    text-align: center;
    font-size: 15px;
}
#h6
{
    color: green;
    text-align: center;
    font-size: 15px;
}

.grid #question
 {
    font-family: "monospace";
    font-size: 30px;
    color: #01BBFF;
}

.buttons
 {
    margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3
 {
    background-color: LightSteelBlue;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1D3C6A;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover 
{
    cursor: pointer;
    background-color: #01BBFF;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus 
{
    outline: 0;
}

#progress 
{
    color: #2b2b2b;
    font-size: 18px;
}